@import "variables";
@import "classes";
@import "mixins";

body {
  background: $bgColor-primary;
  color: $textColor-primary;
  font-family: 'Poppins', "Segoe UI", sans-serif;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  padding-left: 0;
}

.section {
  position: relative;
  overflow: hidden;

  &.-hero {
    background: $nord0;
  }

  &.-skills {
    background: $nord5;
    padding: 3.8rem 0 0;
  }

  &.-experience {
    background: $nord0;
  }

  &.-projects {
    background: $nord4;
  }

  &.-contact {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}
.section__icon {
  pointer-events: none;
  user-select: none;
  text-align: center;

  svg {
    @include desktop-up {
      height: 130px;
      width: 130px;
    }
  }
}
.section__title {
  font-size: 2.75rem;
  font-weight: 600;

  margin: 0;
  padding: 2rem 4rem;

  text-align: center;

  &.-intro {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;

    @include desktop-up {
      padding-top: 1.75rem;
    }
  }

  &.-experience {
    color: $nord6;
    font-size: 2rem;
    padding-top: 2rem;

    @include tablet-portrait-up {
      font-size: 5rem;
    }

    @include desktop-up {
      font-size: 5rem;
    }
  }

  &.-projects {
    padding-top: 2rem;
  }

  &.-contact {
    padding-bottom: 5rem;
  }

  @include tablet-portrait-up {
    font-size: 5rem;
  }
}
.section__content {
  overflow: hidden;
  padding: 0 3.25rem;

  &.-skills {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(184, 194, 215, 0.1), 0 4px 4px rgba(184, 194, 215, 0.25);
    margin: 0 1.5rem 3rem;
    padding: 1.5rem 2rem;

    @include tablet-portrait-up {
      max-width: 50%;
      margin: 0 auto;
      padding: 1.5rem 3rem 2rem;
    }

    @include desktop-up {
      max-width: 45%;
      padding: 2.5rem 5rem 4rem;
    }
  }

  &.-experience {
    padding-top: 5rem;

    @include tablet-portrait-up {
      width: 65%;
      margin: 0 auto;
    }
  }

  @include tablet-portrait-up {
    &.-contact {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}
.wave-divider {
  display: block;
  overflow: hidden;
  vertical-align: middle;

  width: 100%;

  background-color: transparent;
  pointer-events: none;
  user-select: none;

  &.-intro {
    margin-top: -1px;
  }
  &.-skills,
  &.-experience,
  &.-projects,
  &.-contact {
    margin-bottom: -1px;
  }
}

.hero__content {
  color: $nord6;
  font-size: 1.75rem;
  font-weight: 500;

  padding: 10rem 3rem 0;

  @include desktop-up {
    font-size: 4rem;
    padding-left: 9rem;
    padding-top: 14rem;
  }
}
.hero__subtitle-highlight {
  color: $nord7;
  margin: 0 .25rem;
}
.hero__cursor {
  animation: blinking .9s infinite;
  background: $nord6;
  display: inline-block;

  height: 2rem;
  width: 0.75rem;

  @include desktop-up {
    height: 5.25rem;
    width: 1.5rem;
  }
}

@keyframes blinking {
  0% {
    background-color: #FFFFFF;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.dev-icon-wrapper {
  margin-bottom: 3.5rem;

  @include tablet-landscape-up {
    margin: 3.5rem 0;
  }
}
.dev-icon {
  border-radius: 50%;
  max-width: 150px;
  pointer-events: none;
  user-select: none;
}
.intro__text {
  @include tablet-portrait-up {
    font-size: 1.35rem;
    margin: 7rem auto 0;
    width: 50%;
  }

  @include desktop-up {
    font-size: 1.75rem;
  }
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0;

  @include tablet-portrait-up {
    grid-column-gap: 26px;
  }
}
.skills__group {
  overflow: hidden;
}
.skills__groupName {
  font-size: .88rem;
  font-family: 'Montserrat', "Segoe UI", sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @include tablet-landscape-up {
    font-size: 1.5rem;
  }

  @include desktop-up {
    font-size: 2.25rem;
  }
}
.skills__list {
  li {
    color: $nord9;
    font-size: .75rem;
    font-weight: 500;
    padding-left: .5rem;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include tablet-landscape-up {
      font-size: 1rem;
    }

    @include desktop-up {
      font-size: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}


.experience__item {
  align-items: flex-start;
  display: flex;

  margin-bottom: 6rem;

  &.-dri {
    margin-bottom: 3rem;
  }
}
.experience__icon-wrapper {
  padding-right: 1rem;

  @include desktop-up {
    svg {
      height: 65px;
      width: 65px;
    }
  }
}
.experience__role {
  color: $nord13;
  font-size: 1.5rem;
  font-weight: 600;

  @include desktop-up {
    font-size: 2.5rem;
  }
}
.experience__timePlace {
  color: $nord4;
  opacity: 60%;
}
.experience__techStack {
  border-bottom: 1px solid $nord6;
  color: $nord8;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  padding-bottom: 1rem;

  @include desktop-up {
    font-size: 1.5rem;
  }
}
.icon-tabler-point {
  display: inline-block;
}
.experience__list {
  color: $nord6;
  list-style-type: circle;

  padding-left: 1rem;

  @include desktop-up {
    font-size: 1.25rem;
  }
}
.experience__websites-list {
  list-style-type: circle;
  padding-left: 1rem;
}
.experience__websitesIntro {
  color: $nord6;
}

.experience__websites {
  @include desktop-up {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.experience__websiteThumbTile {
  margin-bottom: 2rem;
  position: relative;
  text-align: center;

  &:hover {
    z-index: 10;
  }
}
.experience__websiteThumb {
  border-radius: 5px;
  display: inline-block;
  width: 100%;

  transition: 200ms ease-in;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }

  @include desktop-up {
    width: 90%;

    &:hover {
      transform: scale(1.25);
    }
  }
}
.experience__seeMore {
  align-items: center;
  display: flex;

  border: 1px solid $nord4;
  border-radius: 4px;
  padding: .3rem 1rem .3rem .5rem;

  color: $nord8;
  font-family: Poppins, "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 700;

  svg {
    margin-right: .25rem;
  }
}

.project-thumbnail {
  text-align: center;

  img {
    display: inline-block;

    max-width: 500px;

    border-radius: 4px;
    box-shadow: 0 5px 7px rgba(184, 194, 215, 0.1), 0 4px 4px rgba(184, 194, 215, 0.25);
  }
}
.project-title {
  font-size: 1.75rem;
  font-weight: 600;

  margin: 2rem 0;
  text-align: center;

  @include desktop-up {
    font-size: 2.5rem;
  }
}

.project-title {
  a {
    color: $nord10;
  }
}
.project-desc {
  font-weight: 500;
  a {
    color: $nord10;
    margin: 0;
  }

  @include tablet-portrait-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }

  @include desktop-up {
    font-size: 1.5rem;
  }
}

.contact__email {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;

  line-height: 44px;

  a {
    color: $nord8;
  }

  @include tablet-portrait-up {
    font-size: 4rem;
    line-height: 58px;
  }
}
.contact__text {
  @include desktop-up {
    font-size: 1.5rem;
  }
}
